/* dashboard.css */
.dashboard {
    display: flex;
    flex-wrap: wrap;
  }
  
  @media (min-width: 768px) {
    .dashboard {
      flex-wrap: nowrap;
    }
  }
  
  .sidebar {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .sidebar {
      width: 250px;
    }
  }
  
  .main-screen {
    flex: 1;
  }
  